@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Dominio
    @model List<Agenda>

    <h1 class="mt-4 mb-3">Agendas huesped</h1>    

    @if((string)TempData["tipo"]! == "DOCUMENTO")
    {
        <form action="/Agenda/MostrarAgendaSegunDocumento" class="mb-3" method="get">
            <div class="d-inline-block me-2 mb-2">
                <label class="form-label" for="TipoDocumento">Tipo de documento:</label>
                <select class="form-select inputAgendasDocumento fondoInput" id="TipoDocumento" name="tipoDocumento" required>
                    <option disabled selected>Seleccione uno</option>
                    <option>CI</option>
                    <option>PASAPORTE</option>
                    <option>OTRO</option>
                </select>
            </div>

            <div class="d-inline-block me-2 mb-2">
                <label class="form-label" for="NumeroDocumento">Numero de documento:</label>
                <input type="text" class="form-control inputAgendasDocumento fondoInput" id="NumeroDocumento" name="numeroDocumento" required>
            </div>

            <div class="d-inline-block">
                <input type="submit" class="btn btn-primary mb-1" value="Buscar">        
            </div>        
        </form>        
    }
    else
    {
        <form action="/Agenda/MostrarAgendaSegunFecha" method="get" class="mb-3">

            <div class="d-inline-block me-2 mb-2">
                <label class="form-label d-block" for="fecha">Fecha:</label>
                <input type="date" class="form-control fondoInput" id="fecha" name="fecha" required>
            </div>

            <div class="d-inline-block">
                <input type="submit" class="btn btn-primary mb-1" value="Buscar">
            </div>
        </form>        
    }

    @if(ViewBag.MensajeError == null)
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Huesped</th>
                        <th scope="col">Actividad</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Estado</th>                    
                        <th scope="col">Proveedor</th>                    
                    </tr>
                </thead>
                <tbody>

                    @foreach (Agenda a in Model)
                    {
                            <tr>
                                <td scope="row">@a.Huesped.Nombre @a.Huesped.Apellido</td>
                                <td>@a.Actividad.Nombre</td>
                                <td>@a.Actividad.Fecha</td>

                                @if(a.Actividad.ObtenerTipo() == "HOSTAL"){
                                    <td>@a.Actividad.ToString()</td>
                                }else{
                                    <td>No aplica</td>
                                }

                                @if(a.CostoFinal > 0){
                                    <td>@a.CostoFinal USD</td>
                                }else{
                                    <td>Actividad gratuita</td>
                                }

                                <td>@a.Estado</td>

                                @if(a.Actividad.ObtenerTipo() == "TERCIARIZADA"){
                                    <td>@a.Actividad.ToString()</td>
                                }else{
                                    <td>No aplica</td>
                                }
                            </tr>                    
                    }
                </tbody>
            </table>
        </div>
    }
    else if (ViewBag.MensajeError != null && (bool)TempData["mostrarError"]! == true)
    {
        <div class="alert alert-danger alertaError" role="alert">
            <span>❌ </span> @ViewBag.MensajeError
        </div>

    }
}
